
img {
  
   border: 457px;
    height: 100px;
    border-radius: 10px;


}
button {
    border: 66px;
    height: 40px;
    background-color:gold;
    border-radius: 10px;
}
h1 {
    border: 30px;
    background-color: aliceblue;
}
